# Environnements virtuels Python
venv/
.env/
env/
.venv/
env.bak/
venv.bak/

# Dossiers spécifiques au projet (Ne JAMAIS commiter les données brutes)
data/
datasets/
models/
results/
logs/
*.pth      # Poids des modèles PyTorch
*.pt       # Poids des modèles PyTorch
*.ckpt     # Checkpoints PyTorch Lightning (si utilisé plus tard)
contexte.md

# Fichiers générés par Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE et OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Autres
*.log
*.sqlite
*.pdf
*.docx

# Autres dossiers
Consigne/
Rapport/
